
# Created by https://www.gitignore.io/api/netbeans,java

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# word #
*.docx

# Exercise solutions #
solution/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/demo/SQLInjectionDemoDay2/nbproject/private/
/demo/StoredProcedureDemoDay1/nbproject/private/
/demo/SqlInjectionDemo/nbproject/
/demo/StoredProcedureDemo/nbproject/
/demo/StoredProcDemo/nbproject/
/demo/StoredProcDemo/target/
/demo/SqlInjectionDemo/target/
/demo/architecture_3layer/target/